/* set up variables */
:root {
    --bg-color: #FFF5E6;
    --font-color: #453620;
    --border-color: #453620;
    --code-bg-color: #CCB48F;
    --emphasis-color: #D4CCBF;
    --blue-dark: #203545;
}

/* core html body setup setup */
html {
    background-color: #FFF5E6;
    color: #453620;
    font-family: sans-serif;
}

body {
    margin: 1rem auto;
    width: 650px;
    max-width: 80%;
    text-align: center;
}

body>* {
    text-align: left;
}

header,
footer {
    text-align: center;
}

hr {
    border: 0;
    border-top: 2px solid #66491F;
    width: 90%;
}

/* navbar */
nav ul,
nav ol {
    list-style: none;
    padding-left: 0;
}

nav ul li,
nav ol li {
    display: inline-block;
}

/* text */
blockquote {
    margin: 0;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #453620;
}

sub,
sup {
    font-size: 0.8rem;
}

a {
    color: var(--blue-dark);
}

/* code and pre-formatted input */
code,
samp,
time {
    background-color: #CCB48F;
    border-radius: 1rem;
    padding: 2.5px 5px;
    font-size: 1rem;
    font-family: monospace;
}

pre>code,
pre>samp {
    text-align: left;
    display: block;
    overflow-x: auto;
    background-color: #CCB48F;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-family: monospace;
}

kbd {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
}

var {
    font-family: serif;
}

/**/


canvas#main-canvas {
    background-color: #ffebcd;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px normal #ffebcd;
    border-radius: 1rem;
}

/* image content */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

figcaption {
    text-align: center;
}

/* tables and layouts */
table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

th {
    border-bottom: 2px solid var(--border-color);
}

td,
th {
    padding: 0.25rem 0.25rem;
    text-align: center;
    ;
}

tr:nth-child(even) td {
    background-color: var(--emphasis-color);
}

tfoot>td,
tfoot>tr {
    border-top: 1px solid var(--border-color);
}

table>caption {
    font-style: italic;
}

footer {
    font-size: 0.9rem;
}